:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bcg-team-color: #f5f4fa;
  --bgc-header: #ececec;
  --bgc-hero-footer: #2f303a;
  --logo: #000000;
  --icon-text: #afb1b8;
  --icon-bgc: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", "sans-serif";
  background-color: #ffffff;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (max-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
.header > .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header > .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.menu-open-icon,
.menu-close-icon {
  transition: fill 250ms var(--cubic-bezier);
}
.menu-open-icon:hover,
.menu-close-icon:hover {
  fill: var(--accent-color);
}

.menu-open-btn,
.menu-close-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
    width: 0;
    margin-left: 0;
  }
}

.menu-close-btn {
  padding: 0;
}

.mob-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: var(--icon-bgc);
  height: 100vh;
  width: 100vw;
}
.mob-menu .container {
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__item .link {
  color: var(--primary-text-color);
}
.mob-menu__item .current {
  color: var(--accent-color);
}

.mob-connect__item .phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect__item .mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-soc-list {
  display: flex;
  margin-top: 64px;
  flex-wrap: wrap;
}

.mob-soc-list-item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-soc-list-item:not(:last-child) {
  padding-right: 10px;
}
.mob-soc-list-item .mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation .link {
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: 1.15;
  letter-spacing: 0.02em;
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.connect__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect__list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .connect__list {
    display: flex;
    margin-left: auto;
  }
}

.connect__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
  letter-spacing: 0.02em;
}
.connect__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .connect__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .connect__item:not(:last-child) {
    margin-bottom: 0;
  }
  .connect__item + .connect__item {
    margin-left: 30px;
  }
}
.connect__item .link.phone,
.connect__item .link.mail {
  display: flex;
  align-items: center;
}

.connect__icon {
  fill: currentColor;
  margin-right: 10px;
}

.link.link--current {
  color: var(--accent-color);
  padding-bottom: 0;
}
.link.link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 28px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header__logo,
.footer__logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-text-color);
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.navigation__item .link,
.connect__item .link {
  transition: color 250ms var(--cubic-bezier);
}

.logo__color {
  color: var(--accent-color);
}

.connect__item {
  color: var(--secondary-text-color);
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-mob-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-desc-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/Hero-desc-2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--icon-bgc);
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--icon-bgc);
  background-color: var(--accent-color);
  cursor: pointer;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.features__item {
  width: 100%;
  min-height: 101px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 25%;
  }
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bcg-team-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.features__icon {
  justify-content: center;
  align-items: center;
}

.work {
  padding-top: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}
.work__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin-left: -30px;
}
.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  position: relative;
}
.work__bottom-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--icon-bgc);
}

.team {
  background-color: var(--bcg-team-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--icon-bgc);
  padding-bottom: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-top: 0;
  }
}

.team-title {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--icon-bgc);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--icon-bgc);
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.clients__list {
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    margin-top: 0;
  }
}
.clients__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-text);
  border: 1px solid var(--icon-text);
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: contain;
  transition-property: fill, border, box-sizing, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus, .clients__link:active {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.footer {
  background-color: var(--bgc-hero-footer);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
  }
}

.address-tab {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .address-tab {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .address-tab {
    justify-content: left;
    flex-direction: row;
  }
}

.address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.footer__logo {
  color: var(--icon-bgc);
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-address {
  color: var(--icon-bgc);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-item .link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item .link:hover {
  color: var(--accent-color);
}
.footer-item:first-child {
  margin-bottom: 9px;
}

.join {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 5px;
    margin-left: 162px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    text-align: left;
    margin-top: 12px;
  }
}

.join-form {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .join-form {
    margin-top: 12px;
    margin-left: 93px;
    text-align: left;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--icon-bgc);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
}

.join-item + .join-item {
  margin-left: 10px;
}

.send-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .send-thumb {
    flex-direction: row;
  }
}

.join-email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--icon-bgc);
  outline: none;
}
.join-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .join-email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .join-email {
    width: 358px;
  }
}

.join-email-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--icon-bgc);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .join-email-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}

.send-icon {
  margin-left: 10px;
}

.filters__list {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
  }
}
.filters__btn {
  font-family: inherit;
  background-color: var(--bcg-team-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.filters__list .current {
  background-color: var(--accent-color);
  color: var(--icon-bgc);
  cursor: pointer;
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: var(--bcg-team-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__item:nth-child(-n+3) {
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) and (max-width: 399px) {
  .filters__item:nth-child(-n+4) {
    margin-bottom: 15px;
  }
}

.pictures__item {
  max-width: 100%;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--cubic-bezier);
  cursor: pointer;
}
.pictures__item .img {
  display: block;
  max-width: 100%;
}
.pictures__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .pictures__item {
    margin-right: 30px;
    width: calc(50% - 30px);
  }
  .pictures__item:first-child .pictures__name {
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .pictures__item {
    width: calc(33.3333333333% - 30px);
  }
  .pictures__item:nth-child(3n) {
    margin-right: 0;
  }
  .pictures__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .pictures__item:first-child .pictures__name {
    height: 112px;
  }
}
.pictures__item:hover .pictures__top-text {
  transform: translate(0);
}

@media screen and (min-width: 768px) {
  .pictures__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .pictures__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.pictures__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.pictures__text {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}

.pictures__name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  max-width: 100%;
  text-decoration: none;
}

.pictures__wrap {
  position: relative;
  overflow: hidden;
}

.pictures__top-text {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--icon-bgc);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 0 24px;
  transition: transform 250ms var(--cubic-bezier);
}
@media screen and (min-width: 320px) and (max-width: 370px) {
  .pictures__top-text {
    font-size: 15px;
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal__input {
  position: relative;
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}
.modal__icon {
  position: relative;
  margin-bottom: 12px;
}
.modal__svg {
  position: absolute;
  left: 12px;
  top: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__textarea {
  width: 370px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}
.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__icon:focus-within .modal__svg {
  fill: #2196f3;
}
.modal__icon:focus-within .modal__input {
  border-color: #2196f3;
}
.modal__icon-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: contain;
  transition-property: background-color, border-box, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  background-color: var(--accent-color);
  color: var(--icon-bgc);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.modal .modal__btn:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.modal__icon-exit {
  fill: #000000;
  transition-property: transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__icon-exit {
  fill: #2196f3;
}

.checkbox__policy {
  color: #2196f3;
}

.checkbox__svg {
  position: relative;
  fill: transparent;
}

.checkbox:checked ~ .modal__icon-check {
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:checked + .modal__icon-check .checkbox__svg {
  fill: var(--icon-bgc);
}/*# sourceMappingURL=main.css.map */