@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bcg-team-color: #f5f4fa;
  --bgc-header: #ececec;
  --bgc-hero-footer: #2f303a;
  --logo: #000000;
  --icon-text: #afb1b8;
  --icon-bgc: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", "sans-serif";
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
  /* outline: 2px solid tomato; */
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .navigation {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: 93px;
}
.header__svg {
  margin-right: 10px;
}

.logo {
  color: var(--logo);
  text-decoration: none;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
}
.logo__web {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__item {
  position: relative;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  color: var(--primary-text-color);
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.contacts__header {
  margin-left: auto;
}
.contacts .connect__link {
  display: flex;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  text-decoration: none;
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts > .connect:first-child {
  margin-right: 50px;
}
.contacts .connect__link:hover, .contacts .connect__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.connect .connect__link {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.connect__icon {
  fill: currentColor;
}

.hero {
  background-color: var(--bgc-hero-footer);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  background-color: inherit;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  min-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  font-family: inherit;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  text-align: center;
  border: 1px solid transparent;
}
.hero__btn:hover, .hero__btn:focus, .hero__btn:active {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 32px;
}

.features {
  display: flex;
  justify-content: space-between;
}
.features__item {
  display: inline-block;
  width: 270px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.features__title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}
.features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
.features__icon {
  display: flex;
  padding: 0;
  margin: 0 0 30px 0;
  height: 120px;
  background-color: var(--bcg-team-color);
  justify-content: center;
  align-items: center;
}

.work {
  padding-top: 94px;
}
.work__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin-left: -30px;
}
.work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  position: relative;
}
.work__bottom-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--icon-bgc);
}

.team {
  background-color: var(--bcg-team-color);
}
.team__list {
  display: flex;
  margin-left: -30px;
}
.team__item {
  width: calc(25% - 30px);
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__main-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team__title {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
  /* outline: 2px solid tomato; */
}
.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  /* outline: 2px solid tomato; */
}
.team__name {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 0;
}
.team__soc {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team__icon:not(:last-child) {
  margin-right: 10px;
}
.team__link {
  width: 44px;
  height: 44px;
  background-color: var(--icon-bgc);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-text);
  transition-property: fill, border-radius, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--icon-bgc);
  border-radius: 100%;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
}
.clients__link {
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-text);
  border: 1px solid var(--icon-text);
  box-sizing: border-box;
  border-radius: 4px;
  object-fit: contain;
  transition-property: fill, border, box-sizing, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus, .clients__link:active {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: var(--bgc-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  font-family: "Raleway";
  color: #ffffff;
}
.footer__adr {
  margin-top: 20px;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__list .footer__address {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.footer .logo {
  color: var(--accent-color);
}
.footer__list .footer__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.footer__list .footer__link:hover, .footer__list .footer__link:focus, .footer__list .footer__address:hover, .footer__list .footer__address:focus {
  color: var(--accent-color);
}

.container__footer {
  display: flex;
  align-items: baseline;
}
.container__footer__address {
  flex-grow: 1;
}

.join {
  margin-left: 70px;
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join__list {
  display: flex;
  justify-content: center;
}
.join__link {
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-bgc);
  transition-property: border-radius, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.join__item:not(:last-child) {
  margin-right: 10px;
}
.join__link:hover, .join__link:focus, .join__link:active {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.subscribe {
  margin-left: 93px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscribe__label {
  margin-right: 12px;
}
.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subsсribe__form {
  display: flex;
}

.subsсribe__email {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.subsсribe__btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--icon-bgc);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
.filters__btn {
  font-family: inherit;
  background-color: var(--bcg-team-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.filters__list .current {
  background-color: var(--accent-color);
  color: var(--icon-bgc);
  cursor: pointer;
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: var(--bcg-team-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}
.pictures .pictures__link {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.pictures__wrap {
  position: relative;
  overflow: hidden;
}
.pictures__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--icon-bgc);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bezier);
}
.pictures__name {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
}
.pictures__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.pictures__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.pictures__item {
  width: calc((100% - 60px) / 3);
}
.pictures__item:hover .pictures__top-text, .pictures__item:focus .pictures__top-text {
  transform: translateY(0%);
}
.pictures__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.pictures__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.pictures__link:hover, .pictures__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  justify-content: flex-end;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal__input {
  position: relative;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon {
  position: relative;
  margin-bottom: 12px;
}
.modal__svg {
  position: absolute;
  left: 12px;
  top: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}
.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__icon:focus-within .modal__svg {
  fill: #2196f3;
}
.modal__icon:focus-within .modal__input {
  border-color: #2196f3;
}
.modal__icon-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: contain;
  transition-property: background-color, border-box, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn {
  background-color: var(--accent-color);
  color: var(--icon-bgc);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.modal .modal__btn:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.modal__icon-exit {
  fill: #000000;
  transition-property: transform, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__icon-exit {
  fill: #2196f3;
}

.checkbox__policy {
  color: #2196f3;
}

.checkbox__svg {
  position: relative;
  fill: transparent;
}

.checkbox:checked ~ .modal__icon-check {
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:checked + .modal__icon-check .checkbox__svg {
  fill: var(--icon-bgc);
}/*# sourceMappingURL=main.css.map */