.footer {
  background-color: var(--bgc-hero-footer);
  padding: 60px 0;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }
}

.address-tab {
  display: flex;
  justify-content: center;

  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    justify-content: left;
    flex-direction: row;
  }
}

.address {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__logo {
  color: var(--icon-bgc);
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-address {
  color: var(--icon-bgc);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 8px;
}

.footer-item {
  .link {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-style: normal;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--accent-color);
    }
  }
  &:first-child {
    margin-bottom: 9px;
  }
}

.join {
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    // margin-top: 5px;
    // margin-left: 162px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    text-align: left;
    margin-top: 12px;
  }
}

.join-form {
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 93px;
    text-align: left;
  }
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--icon-bgc);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-bgc);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join-item {
  & + & {
    margin-left: 10px;
  }
}

.send-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.join-email {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--icon-bgc);
  outline: none;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.join-email-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--icon-bgc);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.send-icon {
  margin-left: 10px;
}
