.header {
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}
.header__logo,
.footer__logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-text-color);
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.logo__color {
  color: var(--accent-color);
}
