.header {
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin-left: 93px;
  }
  &__svg {
    margin-right: 10px;
  }
}
