.hero {
  background-color: var(--bgc-hero-footer);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    background-color: inherit;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    min-width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    font-family: inherit;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
  }

  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    background-color: var(--accent-color);
    color: #ffffff;
    cursor: pointer;
    padding: 10px 32px;
  }
}
