.join {
  margin-left: 70px;

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-bgc);
    transition-property: border-radius, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}
