.logo {
  color: var(--logo);
  text-decoration: none;
  font-family: 'Raleway';
  // font-size: 26px;
  // line-height: 1.19;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-left: 163px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 115px;
  }
  &__web {
    color: var(--accent-color);
  }
}
