.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  justify-content: flex-end;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }
  &__input {
    position: relative;
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    position: relative;
    margin-bottom: 12px;
  }

  &__svg {
    position: absolute;
    left: 12px;
    top: 11px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__label {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }

  &__textarea {
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
  }
  &__policy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  &__icon:focus-within .modal__svg {
    fill: #2196f3;
  }
  &__icon:focus-within .modal__input {
    border-color: #2196f3;
  }

  &__icon-check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-size: contain;
    transition-property: background-color, border-box, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn {
    background-color: var(--accent-color);
    color: var(--icon-bgc);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    padding: 10px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
  }
  .modal__btn:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
  }
  &__icon-exit {
    fill: #000000;
    transition-property: transform, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__close-btn:hover &__icon-exit {
    fill: #2196f3;
  }
}

.checkbox__policy {
  color: #2196f3;
}
.checkbox__svg {
  position: relative;
  fill: transparent;
}

.checkbox:checked ~ .modal__icon-check {
  background-color: #2196f3;
  background-origin: border-box;
  border-color: #2196f3;
}

.checkbox:checked + .modal__icon-check .checkbox__svg {
  fill: var(--icon-bgc);
}
