.team {
  background-color: var(--bcg-team-color);

  &__list {
    display: flex;
    margin-left: -30px;
  }

  &__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__main-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }

  &__title {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
    /* outline: 2px solid tomato; */
  }

  &__text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    /* outline: 2px solid tomato; */
  }
  &__name {
    background-color: #ffffff;
    text-align: center;
    padding: 30px 0;
  }

  &__soc {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &__icon:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    background-color: var(--icon-bgc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-text);
    transition-property: fill, border-radius, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    fill: var(--icon-bgc);
    border-radius: 100%;
  }
}
