.work {
  padding-top: 94px;

  &__title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    margin-left: -30px;
  }

  &__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    position: relative;
  }

  &__bottom-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    color: var(--icon-bgc);
  }
}
