:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bcg-team-color: #f5f4fa;
  --bgc-header: #ececec;
  --bgc-hero-footer: #2f303a;
  --logo: #000000;
  --icon-text: #afb1b8;
  --icon-bgc: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

.page {
  font-family: 'Roboto', 'sans-serif';
  background-color: #ffffff;
  color: #212121;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
